<div class="menu">
    <a href="/" class="logo">iFoundIt</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="contact">Contact</a></li>
        @if (SignInManager.IsSignedIn(User)) {
            <li><a href="finder/1">My Account</a></li>
        }
        @if (SignInManager.IsSignedIn(User)) {
            <li>
                <form asp-controller="Home" asp-action="Logout">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                Hello @UserManager.GetUserName(User)!
            </li>
        } else {
            <li>
                <a href="login">Login or Register</a>
            </li>
        }
    </ul>
</div>