<div>
    <h3>iFoundIt</h3>
</div>
<div>
    <p>Thanks for checking out our app. We are committed to helping everyone find their lost items.</p>
    <p>
        <ul>
            <p>Please contact us at supprt@ifoundit.com if you :<p> 
                <ul>have any questions about our site,</ul> 
                <ul>feel someone has wrongfully claimed your item(s)</ul> 
                <ul>have any suggestions to help us grow.</ul>
        </ul>