<div>
    <h3>iFoundIt</h3>
</div>
<hr>
<div>
    <p>Thanks for checking out our app. We are committed to helping everyone find their lost items.</p>
    <p>
        <ul>
            <p>Please contact us at supprt@ifoundit.com if you :<p> 
                <li>have any questions about our site,</li> 
                <li>feel someone has wrongfully claimed your item(s)</li> 
                <li>have any suggestions to help us grow.</li>
        </ul>