@model Item


<div>
    <h5>Post a new item!</h5>
        <p>Please add a vague description for the item in the following entry area. The idea is not to fully describe the item to the general public so only the rightful owner can identify and retrieve their lost item. Use fewer than 100 characters for this portion.
        </p>
</div>

<form asp-controller="Home" asp-action="PostNewItem">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Description" />
        <input type="text" asp-for="Description" >
        <input type="hidden" asp-for="FinderId" value="@Model.FinderId" >
    </div>

    @*<div>
        <p>The following details can only be seen by the Finder. Feel free to be as descriptive as possible in order to ensure the right item is being identified.</p>
    </div>

    <div>
        <input asp-for="FinderId" value="@Model.FinderId" hidden>
        <input asp-for="Finder.Name" value="@Model.Finder.Name" hidden>
    </div>*@
    <button type="submit"> Post!</button>
</form>