@model IEnumerable<Item>

    @*<p>
        Search Result:
    </p>
    <div>
        @foreach (var item in Model) {
        
            <h5>@item.Description</h5>
            <h5>@item.Finder</h5>
} 
    </div>*@
