@model IEnumerable<Item>

    <h3>Lost items:</h3>

<hr>
<div class="grid grid-2-400 grid-3-1024">
    @foreach(var item in Model ){
        <a href="/item/@item.Id">
            <h5>@item.Description</h5>
            <h5>@item.Finder</h5>
            <h5>@item.FoundOn</h5>
        </a>
    }
</div>

<div asp-validation-summary="All"></div>
